.transactionHistory {
  background-color: #fff;
  color: #000;
  margin-bottom: 50px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: lighter;
}

th {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(46, 206, 255);
  color: #fff;
  text-transform: uppercase;
}

td {
  width: 200px;
  padding: 10px;
  font-size: 15px;
}

tr:nth-child(even) {
  background-color: rgb(179, 179, 179);
}
